.contents.board{
    padding: 70px 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.cont-header{
    padding: 70px 0;
    text-align: center;
}
.cont-header > h2{
    font-size: 30px;
    line-height: 1.27;
    font-weight: 700;
    letter-spacing: -1.5px;
    color: #b2d8b5;
}
.cont-header > p{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -.42px;
}
.search-area{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-area .sel-search{
    width: 160px;
    flex: none;
}
.search-area .sel-search .form-select{
    height: 50px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: -.4px;
}
.search-area .sel-search .form-select{
    border-radius: 0;
}
.inp-search{
    width: 576px;
    margin-left: 6px;
    display: flex;
}
.inp-search > input{
    flex: 1;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    outline: none;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    padding: 12px 20px;
    min-height: 50px;
}
.inp-search > button {
    flex: none;
    margin-left: 6px;
    font-size: 0;
    text-indent: -9999px;
    border: 0;
    width: 70px;
    background: #000 url(../../resources/images/icon_search.svg) 50% 50%/18px no-repeat;
}
.borad-btn-top{
    display: flex;
    justify-content: space-between;
    margin: 40px 88px 0 88px;
    align-items: center;
    position: relative;
}
.borad-btn-top div > span{
    font-size: 16px;
    padding-right: 2px;
}
.borad-btn-top div > span + span{
    padding-right: 0;
}
.borad-btn-top > button{
    background: #b2d8b5;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}
.cards-wrap {
  display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
   width: 100%;
   margin: 0 auto;
   margin-top: 20px;
   width: 1024px;
   gap: 30px;
}
.cards-wrap .cards {
    width: 233.5px;
    margin-bottom: 56px;
    border: 1px solid #ccc;
}
.cards-wrap .cards > a {
   text-decoration: none;
   color: #212529;
}
.card-photo {
  width: 100%;
   padding-top: 100%;
   position: relative;
   overflow: hidden;
   background-color: #F8F9FA;
   box-sizing: border-box;
}
.card-photo > img {
  position: absolute;
   top: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
   box-sizing: border-box;
}
.card-desc {
  padding: 20px;
}
.card-desc .card-title {
  font-size: 18px;
   letter-spacing: -0.02px;
   color: #212529;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   margin-bottom: 20px;
   line-height: 1.5;
   font-weight: 700;
}
.card-desc .card-text{
    font-size: 13px;
    color: #212529;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    margin-bottom: 20px;
    line-height: 1.5;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.card-text{
    height: 30px;
}
.card-desc .card-counts{
  color: #868e96;
   font-size: 13px;
   text-align: right;
}
/* tr-pagination */
.tr-pagination { overflow: hidden; height: 32px; text-align: center;}
.tr-pagination li { display: inline-block; font-size: 0;}
.tr-pagination li a { display: block; position: relative; min-width: 32px; height: 32px; margin: 0 2px; padding: 0 11px; border-radius: 4px; font-size: 16px; line-height: 30px; text-align: center; color: #000; overflow: hidden;}
.tr-pagination li a:hover,
.tr-pagination li a:active { font-weight: 700;}
.tr-pagination li.tr-current a { background-color: #b2d8b5; color: #fff; font-weight: 700;}
.tr-pagination li.tr-page-prev a:before,
.tr-pagination li.tr-page-next a:after { content: ''; display: inline-block; width: 24px; height: 24px; margin-top: -4px; vertical-align: middle;}
.tr-pagination li.tr-page-prev a:before   {background-position: 0 0;}
.tr-pagination li.tr-page-next a:after   {background-position: -24px 0;}

.tr-page-prev.disabled{
   display: none;
}
.tr-page-next.disabled{
   display: none;
}

