<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<resultMap type="Board" id="boardResult">
		<result column="BOARD_NO" property="boardNo"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="BOARD_CONTENT" property="boardContent"/>
		<result column="BOARD_CREATE_DATE" property="boardCreateDate"/>
		<result column="BOARD_MODIFY_DATE" property="boardModifyDate"/>
		<result column="BOARD_REPORT" property="boardReport"/>
		<result column="BOARD_WRITER" property="boardWriter"/>
		<result column="MEMBER_ID" property="boardWriter"/>
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="BOARD_TRIP_PLAN_NO" property="boardTripPlanNo"/>
		<result column="BOARD_CATEGORY" property="boardCategory"/>
		<result column="TRIP_PLAN_THUMBNAIL" property="tripPlanThumbnail"/>
		<result column="ATTACHMENT_CHANGE_NAME" property="attachement"/>
		<result column="TRIP_START_DATE" property="tripStartDate"/>
		<result column="TRIP_END_DATE" property="tripEndDate"/>
		<result column="BOARD_REGION_NO" property="boardRegionNo"/>
		<result column="BOARD_REGION_NO" property="regionNo"/>
		<result column="BOARD_TRIP_PLAN_NO" property="tripPlanNo"/>
		<result column="LOCATION_NO" property="locationNo"/>
		<result column="TRIP_N_DAY" property="tripNday"/>
		<result column="ATTRACTION_NO" property="attractionNo"/>
		<result column="ATTRACTION_NAME" property="attractionName"/>
		<result column="ATTRACTION_ADDRESS" property="attractionAddress"/>
		<result column="ATTRACTION_CHANGE_NAME_IMG" property="attractionChangeNameImg"/>
		<result column="ATTRACTION_MEMO" property="attractionMemo"/>
		<result column="CATEGORY_NO" property="categoryNo"/>
		<result column="CATEGORY_NAME" property="categoryName"/>
		<result column="MEMBER_PROFILE_IMG" property="memberProfileImg"/>
		<result column="FROM_MEMBER_NO" property="fromMemberNo"/>
	</resultMap>

	<resultMap type="Reply" id="replyResult">
		<result column="REPLY_NO" property="replyNo"/>
		<result column="REPLY_BOARD_NO" property="replyBoardNo"/>
		<result column="REPLY_WRITER" property="replyWriter"/>
		<result column="REPLY_CONTENT" property="replyContent"/>
		<result column="REPLY_CREATE_DATE" property="replyCreateDate"/>
		<result column="REPLY_MODIFY_DATE" property="replyModifyDate"/>
		<result column="REPLY_REPORT" property="replyReport"/>
		<result column="REPLY_STATUS" property="replyStatus"/>
		<result column="MEMBER_PROFILE_IMG" property="memberProfileImg"/>
		<result column="GOOD_NO" property="goodNo"/>
		<result column="REPLY_GROUP" property="replyGroup"/>
		
		 
	</resultMap>
	<resultMap type="Plan" id="planResult">
		<result column="TRIP_PLAN_NO" property="tripPlanNo"/>
		<result column="TRIP_PLANNER_NO" property="tripPlannerNo"/>
		<result column="TRIP_PLAN_TITLE" property="tripPlanTitle"/>
		<result column="TRIP_START_DATE" property="tripStartDate"/>
		<result column="TRIP_END_DATE" property="tripEndDate"/>
		<result column="TRANSPORTATION_NO" property="transportationNo"/>
		<result column="LOCATION_NO" property="locationNo"/>
		<result column="TRIP_PLAN_THUMBNAIL" property="tripPlanThumbnail"/>
		<result column="ATTRACTION_NO" property="attractionNo"/>
		<result column="ATTRACTION_NAME" property="attractionName"/>
		<result column="ATTRACTION_MEMO" property="attractionMemo"/>
		<result column="ATTRACTION_ADDRESS" property="attractionAddress"/>
		<result column="ATTRACTION_CHANGE_NAME_IMG" property="attractionChangeNameImg"/>
		<result column="CATEGORY_NO" property="categoryNo"/>		
		<result column="CATEGORY_NAME" property="categoryName"/>		
		<result column="REGION_NO" property="regionNo"/>
		<result column="REGION_NAME" property="regionName"/>
		<result column="TRIP_N_DAY" property="tripNday"/>
		
	</resultMap>
	
	<resultMap type="Region" id="regionResult">
		<result column="REGION_NO" property="regionNo"/>
		<result column="REGION_NAME" property="regionName"/>
		<result column="REGION_MEMO" property="regionMemo"/>
		<result column="REGION_IMG" property="regionImg"/>
		<result column="REGION_ENG" property="regionEng"/>
		<result column="REGION_X" property="regionX"/>
		<result column="REGION_Y" property="regionY"/>
	</resultMap>
	
	<resultMap type="Report" id="reportResult">
		<result column="REPORT_NO" property="reportNo"/>
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="BOARD_NO" property="boardNo"/>
		<result column="REPLY_NO" property="replyNo"/>
		<result column="REPORT_DATE" property="reportDate"/>
		<result column="REPORT_REASON" property="reportReason"/>
	</resultMap>
	
	<resultMap type="Recommend" id="recommendResult">
		<result column="RECOMMEND_BOARD_NO" property="recommendBoardNo"/>
		<result column="RECOMMEND_BOARD_TITLEIMG" property="recommendTitleImg"/>
		<result column="RECOMMEND_BOARD_REGION" property="recommendBoardRegion"/>
		<result column="RECOMMEND_BOARD_TITLE" property="recommendBoardTitle"/>
		<result column="RECOMMEND_BOARD_CONTENT" property="recommendBoardContent"/>
		<result column="RECOMMEND_BOARD_CREATE_DATE" property="recommendBoardCreateDate"/>
		<result column="RECOMMEND_BOARD_MODIFY_DATE" property="recommendBoardModifyDate"/>
	</resultMap>
	
	





	<!--메인페이지 지역리스트 가져오는 ajax 쿼리문 -->
	<select id="selectOneRegion" resultMap="regionResult">
		SELECT REGION_NO
                ,REGION_NAME
                ,REGION_MEMO
                ,REGION_IMG
                ,REGION_ENG
                ,REGION_X
                ,REGION_Y
		FROM REGION
		WHERE REGION_NO =#{regionNo}
	</select>
	
	<!-- 게시글 댓글 신고 기능 -->
	<insert id="reportContents">
		INSERT INTO REPORT 
				(REPORT_NO
				,MEMBER_NO
                ,BOARD_NO
				,REPLY_NO
				,REPORT_DATE
                ,REPORT_REASON
				)
		VALUES (SEQ_RPNO.NEXTVAL
				,#{memberNo}
				,#{boardNo}
				,#{replyNo}
				,SYSDATE
                ,#{reportReason}
							)
		</insert>
	
	<!-- 여행플랜짜기 1. TRIP_PLAN 넣기 -->
	<insert id="insertTripPlan" >
		INSERT INTO TRIP_PLAN 
				(TRIP_PLAN_NO
				,TRIP_PLANNER_NO
				,TRIP_PLAN_TITLE
				,TRIP_START_DATE
				,TRIP_END_DATE
				,TRANSPORTATION_NO
				,TRIP_PLAN_THUMBNAIL
				)
		VALUES (SEQ_TPNO.NEXTVAL
				,#{memberNo}
				,TO_CHAR(SYSDATE, 'YY/MM/DD') || '일정'
				,#{startDate}
				,#{endDate}
				,#{transportationNo}
				,'https://mobile.busan.com/nas/wcms/wcms_data/photos/2022/12/17/2022121712041864096_l.jpg'
							)
		<selectKey keyProperty="tripPlanNo" resultType="Integer" order="AFTER">
			SELECT SEQ_TPNO.currval FROM dual
		</selectKey>

	</insert>
	<!--여행플랜짜기 2. Attraction(숙소아닌모든거) 넣기-->
	<insert id="insertAttraction">
		INSERT INTO ATTRACTION
				(ATTRACTION_NO
				,ATTRACTION_NAME
				,ATTRACTION_X
				,ATTRACTION_Y
				,ATTRACTION_CHANGE_NAME_IMG
				,ATTRACTION_CATEGORY_NO
				,ATTRACTION_REGION_NO
				)
		VALUES (SEQ_ARTNO.NEXTVAL
				,#{title}
				,#{mapX}
				,#{mapY}
		<choose>
			<when test="src == ''">
				,DEFAULT
			</when>
			<otherwise>
				,#{src}
			</otherwise>
		</choose>
				,#{attractionCategoryNo}
				,#{regionNo}
							)
	</insert>
	<!--여행플랜짜기 2. Attraction(숙소) 넣기-->
	<insert id="insertHotel">
		INSERT INTO ATTRACTION
				(ATTRACTION_NO
				,ATTRACTION_NAME
				,ATTRACTION_X
				,ATTRACTION_Y
				,ATTRACTION_CHANGE_NAME_IMG
				,ATTRACTION_CATEGORY_NO
				,ATTRACTION_REGION_NO
				)
		VALUES (SEQ_ARTNO.NEXTVAL
				,#{title}
				,#{mapX}
				,#{mapY}
		<choose>
			<when test="src == ''">
				,DEFAULT
			</when>
			<otherwise>
				,#{src}
			</otherwise>
		</choose>
				,#{attractionCategoryNo}
				,#{regionNo}
							)
	</insert>
	
	<!-- 여행플랜짜기 3.location(숙소 아닌 모든거) 넣기	 -->
	<insert id="insertLocation">
		INSERT INTO LOCATION 
				(LOCATION_NO
				,TRIP_N_DAY
				,LOCATION_N
				,LOCATION_ATTRACTION_NO
				,TRIP_PLAN_NO
				)
		VALUES (SEQ_LCNO.NEXTVAL
				,#{tripNday}
				,SEQ_LCNO.CURRVAL
				,SEQ_ARTNO.CURRVAL
				,SEQ_TPNO.CURRVAL
							)
	</insert>
	<!-- 여행플랜짜기 3.location(숙소) 넣기	 -->
	<insert id="insertLocationHotel">
		INSERT INTO LOCATION 
				(LOCATION_NO
				,TRIP_N_DAY
				,LOCATION_N
				,LOCATION_ATTRACTION_NO
				,TRIP_PLAN_NO
				)
		VALUES (SEQ_LCNO.NEXTVAL
				,#{tripNday}
				,SEQ_LCNO.CURRVAL
				,SEQ_ARTNO.CURRVAL
				,SEQ_TPNO.CURRVAL
							)
	</insert>
	
				
	
	
	              
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- 같이가요 게시글의 총 갯수 조회하는 쿼리문 -->
	<select id="selectTogetherListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE BOARD_CATEGORY = 2
		AND BOARD_STATUS = 'Y'
	</select>
	
	<!-- 같이가요 게시글 조회 쿼리문 -->
	<select id="selectTogetherList" resultMap="boardResult">
 		select   BOARD_NO
				,BOARD_TITLE
		        ,BOARD_CONTENT
		        ,MEMBER_ID
				,TO_CHAR(BOARD_CREATE_DATE, 'YYYY/MM/DD') AS "BOARD_CREATE_DATE"
                ,TRIP_PLAN_THUMBNAIL
		from board
		join member on (BOARD_WRITER = MEMBER_NO)
        join TRIP_PLAN on (BOARD_TRIP_PLAN_NO = TRIP_PLAN_NO)
		where BOARD_CATEGORY = 2
		AND BOARD_STATUS = 'Y'
		ORDER BY BOARD_NO DESC
	</select>
	
	<!-- 같이가요 게시글 키워드 검색 쿼리문 -->
	<select id="togetherSearchList" resultMap="boardResult">
		select  B.BOARD_NO
				,B.BOARD_TITLE
		        ,B.BOARD_CONTENT
		        ,M.MEMBER_ID
		        ,TO_CHAR(B.BOARD_CREATE_DATE, 'YYYY/MM/DD') AS "BOARD_CREATE_DATE"
		        ,T.TRIP_PLAN_THUMBNAIL
		from board B
		join member M on (B.BOARD_WRITER = M.MEMBER_NO)
		join TRIP_PLAN T on (B.BOARD_TRIP_PLAN_NO = T.TRIP_PLAN_NO)
		join REGION R on (R.REGION_NO = B.BOARD_REGION_NO)
		where B.BOARD_CATEGORY = 2
		AND B.BOARD_STATUS = 'Y'
		<choose>
			<when test="condition == 'writer'">
	  		AND M.MEMBER_ID 
	  		</when>
	  		<when test="condition == 'title'">
	        AND B.BOARD_TITLE  
	        </when>
	        <when test="condition == 'region'">
	        AND R.REGION_NAME
	        </when>
	        <otherwise>
	        AND B.BOARD_CONTENT
      	 	</otherwise>
        </choose>
        LIKE '%' || #{keyword} || '%'
        ORDER BY B.BOARD_NO DESC
	</select>
	
	<!-- 글쓰기 누르면 ajax 로 가져올 일정호출 -->
	<select id="selectPlanList" resultMap="planResult">
 		select  TRIP_PLAN_NO
				,TRIP_PLAN_TITLE
		        ,TRIP_START_DATE
		        ,TRIP_END_DATE
                ,LOCATION_NO
                ,TRIP_PLAN_THUMBNAIL
                ,ATTRACTION_NO
                ,ATTRACTION_NAME
                ,ATTRACTION_CHANGE_NAME_IMG
                ,REGION_NO
                ,REGION_NAME
                ,TRIP_N_DAY
		from TRIP_PLAN
		join member on (TRIP_PLANNER_NO = MEMBER_NO)
        join location using (TRIP_PLAN_NO)
        join ATTRACTION on (LOCATION_ATTRACTION_NO = ATTRACTION_NO)
        join REGION on(ATTRACTION_REGION_NO =REGION_NO)
		where TRIP_PLANNER_NO = #{memberNo}
	</select>
	
	<!-- plan 정보가지고 글쓰기 페이지에 가져오기 -->
	<select id="selectOneTripPlan" resultMap="planResult">
 		        select  TRIP_PLAN_NO
				,TRIP_PLAN_TITLE
                ,LOCATION_NO
                ,TRIP_PLAN_THUMBNAIL
                ,ATTRACTION_NO
                ,ATTRACTION_NAME
                ,ATTRACTION_MEMO
                ,ATTRACTION_ADDRESS
                ,ATTRACTION_CHANGE_NAME_IMG
                ,TRIP_N_DAY
                ,REGION_NO
                ,REGION_NAME
                ,TRIP_START_DATE
                ,TRIP_END_DATE
                ,CATEGORY_NAME
		from TRIP_PLAN
		join member on (TRIP_PLANNER_NO = MEMBER_NO)
        join location using (TRIP_PLAN_NO)
        join ATTRACTION on (LOCATION_ATTRACTION_NO = ATTRACTION_NO)
        join REGION on (REGION_NO = ATTRACTION_REGION_NO)
        join category on (CATEGORY_NO = ATTRACTION_CATEGORY_NO)
		where TRIP_PLAN_NO = #{tripPlanNo}
	</select>
	
	<!-- plan max day 조회하는 쿼리문 -->
	<select id="countMaxPlanDay" resultType="_int">
		select  MAX(TRIP_N_DAY)
		from TRIP_PLAN
        join location using (TRIP_PLAN_NO)
		where TRIP_PLAN_NO = #{tripPlanNo}
        ORDER BY TRIP_N_DAY
	</select>
	
	<!-- 같이가요 게시글 작성 쿼리문 -->
	<insert id="insertTogetherBoard">
		INSERT INTO BOARD 
				(BOARD_NO
				,BOARD_TITLE
                ,BOARD_CONTENT
				,BOARD_WRITER
				,BOARD_TRIP_PLAN_NO
                ,BOARD_CATEGORY
                ,BOARD_REGION_NO
				)
		VALUES (SEQ_BNO.NEXTVAL
				,#{boardTitle}
				,#{boardContent}
				,#{boardWriter}
				,#{boardTripPlanNo}
                ,2
                ,#{boardRegionNo}
							)
		</insert>
		
		<!-- 같이가요 게시판 디테일 페이지 -->
		<select id="selectTogetherBoard" resultMap="boardResult">
            SELECT  BOARD_NO
				,	BOARD_TITLE
				,	BOARD_CONTENT
				,	TO_CHAR(BOARD_MODIFY_DATE, 'YY-MM-DD HH24:MI:SS') AS "BOARD_MODIFY_DATE"
                ,   BOARD_REPORT
                , 	MEMBER_NO
                ,	MEMBER_ID
                , 	MEMBER_PROFILE_IMG
                ,   BOARD_TRIP_PLAN_NO
                ,   BOARD_REGION_NO
                ,   TRIP_PLAN_NO
                ,   TRIP_PLAN_THUMBNAIL
                ,   LOCATION_NO
                ,   TRIP_N_DAY
                ,   ATTRACTION_NO
                ,   ATTRACTION_NAME
                ,   ATTRACTION_CHANGE_NAME_IMG
			FROM 	BOARD   
            join member on (MEMBER_NO = BOARD_WRITER)          
            join TRIP_PLAN on (BOARD_TRIP_PLAN_NO = TRIP_PLAN_NO)
            join LOCATION using (TRIP_PLAN_NO)
            join ATTRACTION on (ATTRACTION_NO=LOCATION_ATTRACTION_NO)
			WHERE BOARD_NO = #{boardNo}
            AND BOARD_CATEGORY = 2
			AND BOARD_STATUS = 'Y'
            order by TRIP_N_DAY
		</select>
	
		<!-- 같이가요 게시글 수정 관련 sql -->
		<update id="updateTogetherBoard">
			UPDATE BOARD
				SET BOARD_TITLE = #{boardTitle},
					BOARD_CONTENT = #{boardContent},
					BOARD_TRIP_PLAN_NO = #{boardTripPlanNo},
					BOARD_MODIFY_DATE = SYSDATE,
					BOARD_REGION_NO = #{boardRegionNo}
			WHERE BOARD_NO = #{boardNo}
		</update>
	
		<!-- 같이가요 게시글 삭제 관련 sql -->
		<update id="togetherDeleteBoard">
			UPDATE BOARD
				SET BOARD_STATUS ='N'
			WHERE BOARD_NO = #{boardNo}
		</update>
		
	<!-- 같이가요 댓글 조회 쿼리문 -->
	<select id="selectTogetherReplyList" resultMap="replyResult">
		SELECT REPLY_NO
				,REPLY_CONTENT
				,MEMBER_ID AS "REPLY_WRITER"
				,TO_CHAR(REPLY_MODIFY_DATE, 'YY-MM-DD HH24:MI:SS') AS "REPLY_MODIFY_DATE"
				,MEMBER_PROFILE_IMG
				,REPLY_GROUP
		FROM REPLY
		JOIN MEMBER ON (REPLY_WRITER = MEMBER_NO)
		WHERE REPLY_STATUS = 'Y'
		AND REPLY_BOARD_NO = #{boardNo}
		ORDER BY REPLY_NO
	</select>
	<!-- 같이가요 댓글추가 -->
	<insert id="ajaxInsertTogetherReply">
		INSERT INTO REPLY
		(
				REPLY_NO,
				REPLY_CONTENT,
				REPLY_BOARD_NO,
				REPLY_WRITER
		)
		VALUES( 
				SEQ_RNO.NEXTVAL,
				#{replyContent},
				#{replyBoardNo},
				#{replyWriter}
		)
	</insert>
	
	
	<!-- 같이가요 댓글 삭제 관련 sql -->
		<update id="ajaxDeleteTogetherReply">
			UPDATE REPLY
				SET REPLY_STATUS ='N',
					REPLY_MODIFY_DATE = SYSDATE
			WHERE REPLY_BOARD_NO = #{replyBoardNo}
			AND REPLY_NO = #{replyNo} 
		</update>
	
	<!-- 같이가요 댓글 수정 관련 sql -->
		<update id="ajaxUpdateTogetherReply">
			UPDATE REPLY
				SET REPLY_CONTENT =#{replyContent},
					REPLY_MODIFY_DATE = SYSDATE
			WHERE REPLY_BOARD_NO = #{replyBoardNo}
			AND REPLY_NO = #{replyNo} 
		</update>
	
	<!-- 같이가요 대댓글추가 -->
	<insert id="ajaxInsertTogetherReReply">
		INSERT INTO REPLY
		(
				REPLY_NO,
				REPLY_CONTENT,
				REPLY_BOARD_NO,
				REPLY_WRITER,
				REPLY_GROUP
		)
		VALUES( 
				SEQ_RNO.NEXTVAL,
				#{replyContent},
				#{replyBoardNo},
				#{replyWriter},
				#{replyNo}
		)
	</insert>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- 후기 게시글의 총 갯수 조회하는 쿼리문 -->
	<select id="selectReviewListCount" resultType="_int">
	
		SELECT COUNT(*)
		FROM BOARD
		WHERE BOARD_CATEGORY = 1
		AND BOARD_STATUS = 'Y'
		
	</select>
	
	<!-- 후기 게시글 조회 쿼리문 -->
	<select id="selectReviewList" resultMap="boardResult">
		SELECT   BOARD_NO
				,BOARD_TITLE
		        ,BOARD_CONTENT
		        ,MEMBER_ID
		        ,TO_CHAR(BOARD_CREATE_DATE, 'YYYY/MM/DD') AS "BOARD_CREATE_DATE"
		        ,TRIP_PLAN_THUMBNAIL
		FROM 	BOARD
		join member on (BOARD_WRITER = MEMBER_NO)
		join TRIP_PLAN on (BOARD_TRIP_PLAN_NO = TRIP_PLAN_NO)
		where BOARD_CATEGORY = 1
		AND BOARD_STATUS = 'Y'
		ORDER BY BOARD_NO DESC
	</select>
	
	
		<!--review 게시판 키워드로 검색 -->
		<select id="searchReviewList" resultMap="boardResult">
			select   B.BOARD_NO
					,B.BOARD_TITLE
			        ,B.BOARD_CONTENT
			        ,M.MEMBER_ID
			        ,TO_CHAR(B.BOARD_CREATE_DATE, 'YYYY/MM/DD') AS "BOARD_CREATE_DATE"
			        ,T.TRIP_PLAN_THUMBNAIL 
			FROM BOARD B
			JOIN MEMBER M ON (B.BOARD_WRITER = M.MEMBER_NO)
			JOIN REGION R ON (B.BOARD_REGION_NO= R.REGION_NO)
			join TRIP_PLAN T on (B.BOARD_TRIP_PLAN_NO = T.TRIP_PLAN_NO)
			WHERE B.BOARD_CATEGORY = 1
			AND B.BOARD_STATUS = 'Y'
			<choose>
				<when test="condition == 'writer'">
		  			AND M.MEMBER_ID
		  		</when>
		  		
		  		<when test="condition == 'title'">
		       		 AND B.BOARD_TITLE 
		        </when>
		        
		        <when test="condition == 'region'">
		    		 AND R.REGION_NAME 
		        </when>
		        
		        <otherwise>
		        AND BOARD_CONTENT 
	      	 	</otherwise>
	        </choose>
	        LIKE '%' || #{keyword} || '%'
	        ORDER BY B.BOARD_NO DESC
		</select>
	
		
		<!--reivew게시글 조회 -->
		<select id="selectReviewBoard" resultMap="boardResult"> <!-- 객체여서 MAP -->
				SELECT   BOARD_NO
						,BOARD_TITLE
						,BOARD_CONTENT
						,TO_CHAR(BOARD_MODIFY_DATE, 'YYYY-MM-DD') AS "BOARD_MODIFY_DATE"
		                ,BOARD_REPORT
		                ,MEMBER_NO
		                ,MEMBER_ID
		                ,MEMBER_PROFILE_IMG
		                ,BOARD_TRIP_PLAN_NO
		                ,BOARD_REGION_NO
		                ,TRIP_PLAN_NO
		                ,TRIP_PLAN_THUMBNAIL
		                ,LOCATION_NO
		               	,TRIP_N_DAY
		                ,ATTRACTION_NO
		                ,ATTRACTION_NAME
		                ,ATTRACTION_ADDRESS
		                ,ATTRACTION_CHANGE_NAME_IMG
		                ,CATEGORY_NAME
				FROM 	BOARD   
	            JOIN 	MEMBER ON (MEMBER_NO = BOARD_WRITER)
	            JOIN 	TRIP_PLAN ON (BOARD_TRIP_PLAN_NO = TRIP_PLAN_NO)
	            JOIN	LOCATION USING (TRIP_PLAN_NO)
	            JOIN 	ATTRACTION ON (ATTRACTION_NO=LOCATION_ATTRACTION_NO)
	  			JOIN 	CATEGORY ON (ATTRACTION_CATEGORY_NO = CATEGORY_NO)
				WHERE BOARD_NO = #{boardNo}
	            AND BOARD_CATEGORY = 1
				AND BOARD_STATUS = 'Y'
	            ORDER BY TRIP_N_DAY
				
		</select>
	
	
	
		<!-- 후기 댓글 조회 쿼리문 -->
		<select id="selectReviewReplyList" resultMap="replyResult">
		SELECT REPLY_NO
				,REPLY_CONTENT
				,MEMBER_ID AS "REPLY_WRITER"
				,TO_CHAR(REPLY_MODIFY_DATE, 'YY-MM-DD HH24:MI:SS') AS "REPLY_MODIFY_DATE"
				,MEMBER_PROFILE_IMG
				,REPLY_GROUP
		FROM REPLY
		JOIN MEMBER ON (REPLY_WRITER = MEMBER_NO)
		WHERE REPLY_STATUS = 'Y'
		AND REPLY_BOARD_NO = #{boardNo}
		ORDER BY REPLY_NO
		</select>
		
	
	<!-- 같이가요 댓글 조회 쿼리문 -->
	<select id="selectReplyList" resultMap="replyResult">
		SELECT REPLY_NO
				,REPLY_CONTENT
				,MEMBER_ID AS "REPLY_WRITER"
				,TO_CHAR(REPLY_CREATE_DATE, 'YYYY-MM-DD') AS "REPLY_CREATE_DATE"
				,MEMBER_PROFILE_IMG
		FROM REPLY
		JOIN MEMBER ON (REPLY_WRITER = MEMBER_NO)
		WHERE REPLY_STATUS = 'Y'
		AND REPLY_BOARD_NO = #{bno}
		ORDER BY REPLY_NO
	</select>
	<!-- 같이가요 댓글추가 -->
	<insert id="insertReviewReply">
		INSERT INTO REPLY
		(
				REPLY_NO,
				REPLY_BOARD_NO,
				REPLY_WRITER,
				REPLY_CONTENT,
				REPLY_MODIFY_DATE
				
				
				
		)
		VALUES( 
				SEQ_RNO.NEXTVAL,
				#{replyBno},
				#{replyWriter},
				#{replyContent},
				#{replyModifyDate}
				
				
		)
	</insert>
	<!--메인페이지 지역리스트 가져오는 ajax 쿼리문 -->
	<select id="ajaxselectRegionList" resultMap="regionResult">
		SELECT REGION_NO
                ,REGION_NAME
                ,REGION_MEMO
                ,REGION_IMG
                ,REGION_ENG
		FROM REGION
		ORDER BY REGION_NO
	</select>
		<!-- 같이가요 게시글 삭제시 해당게시글 컨텐츠 가져와서 이미지 추출하기위함 -->
		<select id="togetherSelectBoardOne" resultMap="boardResult">
				SELECT  BOARD_CONTENT
				FROM 	BOARD   
				WHERE BOARD_NO = #{boardNo}
		</select>

		<!-- plan 정보가지고 글쓰기 페이지에 가져오기  review-->
		<select id="selectOneTripPlanRe" resultMap="planResult">
	 		 	SELECT  TRIP_PLAN_NO
						,TRIP_PLAN_TITLE
		                ,LOCATION_NO
		                ,TRIP_PLAN_THUMBNAIL
		                ,ATTRACTION_NO
		                ,ATTRACTION_NAME
		                ,ATTRACTION_ADDRESS
		                ,CATEGORY_NAME
		                ,ATTRACTION_CHANGE_NAME_IMG
		                ,TRIP_N_DAY
		                ,REGION_NO
		                
				FROM 	TRIP_PLAN
				JOIN 	MEMBER ON (TRIP_PLANNER_NO = MEMBER_NO)
		        JOIN	location using (TRIP_PLAN_NO)
		        JOIN	ATTRACTION ON (LOCATION_ATTRACTION_NO = ATTRACTION_NO)
		        JOIN	REGION ON (REGION_NO = ATTRACTION_REGION_NO)
		 	    JOIN	CATEGORY ON (ATTRACTION_CATEGORY_NO = CATEGORY_NO)
	
				WHERE 	TRIP_PLAN_NO = #{tripPlanNo}
				ORDER 	BY TRIP_N_DAY
		</select>
	
	
		<!--후기 글쓰기 누르면 ajax로 가져올 일정호출 -->
		<select id="selectPlanListRe" resultMap="planResult">
		 		select  TRIP_PLAN_NO
						,TRIP_PLAN_TITLE
				        ,TRIP_START_DATE
				        ,TRIP_END_DATE
		                ,LOCATION_NO
		                ,TRIP_PLAN_THUMBNAIL
		                ,ATTRACTION_NO
		                ,ATTRACTION_NAME
		                ,ATTRACTION_CHANGE_NAME_IMG
		                ,CATEGORY_NAME
		                ,REGION_NO
		                ,REGION_NAME
		                ,TRIP_N_DAY
				FROM 	TRIP_PLAN
				
				JOIN MEMBER ON (TRIP_PLANNER_NO = MEMBER_NO)
		        JOIN LOCATION using (TRIP_PLAN_NO)
		        JOIN ATTRACTION ON (LOCATION_ATTRACTION_NO = ATTRACTION_NO)
		        JOIN CATEGORY ON (ATTRACTION_CATEGORY_NO = CATEGORY_NO)
		        JOIN REGION ON(ATTRACTION_REGION_NO =REGION_NO)
		        
				WHERE TRIP_PLANNER_NO = #{memberNo}
		</select>
	
	
		<!-- 후기 게시글 작성 쿼리문 -->
		<insert id="insertReviewBoard">
				INSERT INTO BOARD 
						(BOARD_NO
						,BOARD_TITLE
		                ,BOARD_CONTENT
						,BOARD_WRITER
						,BOARD_TRIP_PLAN_NO
		                ,BOARD_CATEGORY
		                ,BOARD_REGION_NO
						)
				VALUES (SEQ_BNO.NEXTVAL
						,#{boardTitle}
						,#{boardContent}
						,#{boardWriter}
						,#{boardTripPlanNo}
		                ,1
		                ,#{boardRegionNo}
						)
		</insert>
	
	
	
		<!-- 후기 게시글 수정 관련 sql -->
		<update id="updateReviewBoard">
				UPDATE BOARD
		            
		            
				SET BOARD_TITLE = #{boardTitle}
					,BOARD_CONTENT = #{boardContent}
					,BOARD_TRIP_PLAN_NO = #{boardTripPlanNo}
					,BOARD_MODIFY_DATE = SYSDATE
					,BOARD_REGION_NO = #{boardRegionNo}
					
				WHERE BOARD_NO = #{boardNo}
		</update>
		
		<!-- 후기 게시글 삭제 관련 sql -->
		<update id="reviewDeleteBoard">
				UPDATE BOARD
				
				SET BOARD_STATUS ='N'
				
				WHERE BOARD_NO = #{boardNo}
		</update>
	
	
	
		<!-- 같이가요 댓글추가 -->
		<insert id="ajaxInsertReply">
				INSERT INTO REPLY
						 (REPLY_NO
						,REPLY_CONTENT
						,REPLY_BOARD_NO
						,REPLY_WRITER
							)
				VALUES(SEQ_RNO.NEXTVAL
						,#{replyContent}
						,#{replyBoardNo}
						,#{replyWriter}
						)
		</insert>
	
		<!-- 후기 게시글 삭제 관련 sql -->
		<update id="ajaxDeleteReviewReply">
				UPDATE REPLY
				
				SET REPLY_STATUS ='N'
				
				WHERE REPLY_BOARD_NO = #{replyBoardNo}
				AND REPLY_NO = #{replyNo} 
		</update>
		
		<!-- 후기 댓글 수정 관련 sql -->
		<update id="ajaxUpdateReviewReply">
				UPDATE REPLY
				
				SET REPLY_CONTENT =#{replyContent}
				
				WHERE REPLY_BOARD_NO = #{replyBoardNo}
				AND REPLY_NO = #{replyNo} 
		</update>
		
		<!-- 후기 게시글 작성시 별점주기 -->
		<insert id="ajaxInsertReviewStars" >
				INSERT INTO STAR (ATTRACTION_NO, STAR_GRADE) 
				VALUES (#{attractionNo}, #{starGrade})   
		</insert>
		
		
	
	
	

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
		<!-- 메인페이지 지역 총 갯수 조회하는 쿼리문 -->
	<select id="regionListCount" resultType="_int">
	
		SELECT COUNT(*)
		FROM REGION
		
	</select>
	
	
	
	
	
	
	
			<!--메인페이지 지역 키워드로 검색 -->
		<select id="regionSearch" resultMap="regionResult">
		SELECT REGION_NO
                ,REGION_NAME
                ,REGION_MEMO
                ,REGION_IMG
                ,REGION_ENG
                ,REGION_X
                ,REGION_Y
		FROM REGION
		WHERE REGION_NAME
	        LIKE '%' || #{keyword} || '%'
	        ORDER BY REGION_NAME DESC
		</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- 마이페이지 같이가요 게시글의 총 갯수 조회하는 쿼리문 -->
	<select id="myTogetherListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		JOIN MEMBER ON (MEMBER_NO = BOARD_WRITER)
		JOIN TRIP_PLAN ON (TRIP_PLAN_NO = BOARD_TRIP_PLAN_NO)
		WHERE BOARD_CATEGORY = 2
			AND BOARD_WRITER = #{memberNo}
	</select>
	
	<!-- 마이페이지 같이가요 게시글 조회 쿼리문 -->
	<select id="myTogetherList" resultMap="boardResult">
		select  BOARD_NO
				,BOARD_TITLE
		        ,BOARD_CONTENT
		        ,BOARD_WRITER
		        ,TO_CHAR(BOARD_MODIFY_DATE, 'YYYY-MM-DD') AS BOARD_MODIFY_DATE       
		        ,TRIP_START_DATE       
		        ,TRIP_END_DATE       
		from board
		join member on (BOARD_WRITER = MEMBER_NO)
		JOIN TRIP_PLAN ON(BOARD_TRIP_PLAN_NO = TRIP_PLAN_NO)
		where BOARD_CATEGORY = 2
			AND BOARD_WRITER = #{memberNo}
		ORDER BY BOARD_NO DESC

	</select>
	
	
	
	
	<!-- 마이페이지 후기 게시글의 총 갯수 조회하는 쿼리문 -->
	<select id="myReviewListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		JOIN MEMBER ON (MEMBER_NO = BOARD_WRITER)
		JOIN TRIP_PLAN ON (TRIP_PLAN_NO = BOARD_TRIP_PLAN_NO)
		WHERE BOARD_CATEGORY = 1
			AND BOARD_WRITER = #{memberNo}
	</select>
	
	<!-- 마이페이지 후기 게시글 조회 쿼리문 -->
	<select id="myReviewList" resultMap="boardResult">
		select  BOARD_NO
				,BOARD_TITLE
		        ,BOARD_CONTENT
		        ,BOARD_WRITER
		        ,TO_CHAR(BOARD_MODIFY_DATE, 'YYYY-MM-DD') AS BOARD_MODIFY_DATE       
		        ,TRIP_START_DATE       
		        ,TRIP_END_DATE
		from board
		join member on (BOARD_WRITER = MEMBER_NO)
		JOIN TRIP_PLAN ON(BOARD_TRIP_PLAN_NO = TRIP_PLAN_NO)
		where BOARD_CATEGORY = 1
			AND BOARD_WRITER = #{memberNo}
		ORDER BY BOARD_NO DESC

	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- 박수현 추천여행지 Main-->
	<select id="ajaxrecommendMain" resultMap="recommendResult">
		SELECT RECOMMEND_BOARD_NO
                ,RECOMMEND_BOARD_TITLEIMG
                ,RECOMMEND_BOARD_REGION
                ,RECOMMEND_BOARD_TITLE
		FROM RECOMMEND_BOARD
		WHERE ROWNUM &lt;= 3
	</select>
	<!-- 박수현 추천여행지 더보기 클릭시 리스트-->
	<select id="ajaxrecommendList" resultMap="recommendResult">
		SELECT RECOMMEND_BOARD_NO
				,RECOMMEND_BOARD_TITLE
				,RECOMMEND_BOARD_CONTENT
                ,RECOMMEND_BOARD_TITLEIMG
		FROM RECOMMEND_BOARD
	</select>
	<!-- 박수현 추천여행지 디테일 페이지 불러오기-->
	<select id="selectRecommendBoard" resultMap="recommendResult">
		SELECT RECOMMEND_BOARD_NO
				,RECOMMEND_BOARD_REGION
				,RECOMMEND_BOARD_TITLE	
				,RECOMMEND_BOARD_MODIFY_DATE
				,RECOMMEND_BOARD_CONTENT
		FROM RECOMMEND_BOARD
		WHERE RECOMMEND_BOARD_NO = #{recommendBoardNo}
	</select>
	<!--박수현 신고테이블 전체 -->
	<!--<select id="reportInfor" resultMap="memberResult">
		SELECT   REPORT_NO
	            ,MEMBER_NO
	            ,BOARD_NO
	            ,REPLY_NO
	            ,REPORT_DATE
	            ,REPORT_REASON
		FROM REPORT
	</select>-->
	


</mapper>
