<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap type="Member" id="memberResult">
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="MEMBER_PWD" property="memberPwd"/>
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="MEMBER_NICKNAME" property="memberNickName"/>
		<result column="MEMBER_EMAIL" property="memberEmail"/>
		<result column="MEMBER_PHONE" property="memberPhone"/>
		<result column="MEMBER_PROFILE_IMG" property="memberProfileImg"/>
		<result column="MEMBER_CREATE_DATE" property="createDate"/>
		<result column="MEMBER_MODIFY_DATE" property="modifyDate"/>
		<result column="MEMBER_RIGHT" property="memberRight"/>
		<result column="MEMBER_STATUS" property="memberStatus"/>
		<result column="MEMBER_GRADE" property="memberGrade"/>
	</resultMap>

	<!-- 로그인 쿼리문 -->
	<select id="loginMember" resultMap="memberResult">
		SELECT MEMBER_NO
            ,MEMBER_ID
            ,MEMBER_PWD
            ,MEMBER_NAME
            ,MEMBER_NICKNAME
            ,MEMBER_EMAIL
            ,MEMBER_PHONE
            ,MEMBER_PROFILE_IMG
            ,MEMBER_CREATE_DATE
            ,MEMBER_MODIFY_DATE
            ,MEMBER_RIGHT
            ,MEMBER_STATUS
            ,MEMBER_GRADE
		FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
		and MEMBER_STATUS = 'Y'
	</select>
	



































































































































































































































































<!-- 프로필이미지 등록 -->
	<update id="updateProfileImg">
      UPDATE MEMBER
         SET 
            MEMBER_PROFILE_IMG = #{memberProfileImg}
      WHERE MEMBER_NO = #{memberNo}
   </update>
   
   	<select id="UpdateImgMember" resultMap="memberResult">
		SELECT MEMBER_NO
            ,MEMBER_ID
            ,MEMBER_PWD
            ,MEMBER_NAME
            ,MEMBER_NICKNAME
            ,MEMBER_EMAIL
            ,MEMBER_PHONE
            ,MEMBER_PROFILE_IMG
            ,MEMBER_CREATE_DATE
            ,MEMBER_MODIFY_DATE
            ,MEMBER_RIGHT
            ,MEMBER_STATUS
            ,MEMBER_GRADE
		FROM MEMBER
		WHERE MEMBER_NO = #{memberNo}
		and MEMBER_STATUS = 'Y'
	</select>
	
	
<!-- 회원탈퇴 -->	
	<update id="deleteMember">
		UPDATE MEMBER
		    SET MEMBER_STATUS = 'N'
		WHERE MEMBER_ID = #{memberId}
	</update>
   
</mapper>
